<html>

<head th:replace="~{base :: head}"></head>

<body>
	<div th:replace="~{base :: logo}"></div>
	<div class="container">
		<div th:replace="~{base :: titulo('Cadastro de Animais')}"></div>
		<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3 ">
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="/proprietario">Proprietário</a>
					<a class="nav-item nav-link" href="/animal">Animal</a>
					<a class="nav-item nav-link" href="/funcionario">Funcionário</a>
					<a class="nav-item nav-link" href="/propriedade">Propriedade</a>
				</div>
		</nav>
		<div class="card mt-3">
			<form th:object="${requisicaoNovoAnimal}" class="card-body" action="/animal/novo" method="POST">
				<div class="form-group">
					<label for="raca">Raça</label>
					<select  class="form-control" id="raca" th:field="*{raca}">
						<option value="">Selecione a raça</option>
						<option th:each="raca : ${T(br.edu.ifms.sagp.model.enums.RacaEnum).values()}" 
							th:value="${raca}" th:text="${raca.displayValue}">
						</option>
					</select>
					<div class="invalid-feedback" th:errors="*{raca}">Errors da Raca</div>
				</div>
				<div class="form-group">
					<label for="sexo">Sexo</label>
					<select  class="form-control" id="sexo" th:field="*{sexo}">
						<option value="">Selecione o sexo</option>
						<option th:each="sexo : ${T(br.edu.ifms.sagp.model.enums.SexoEnum).values()}" 
							th:value="${sexo}" th:text="${sexo.displayValue}">
						</option>
					</select>
					<div class="invalid-feedback" th:errors="*{sexo}">Errors do Sexo</div>
				</div>
				<div class="form-group">
					<label for="status">Status</label>
					<select class="form-control" id="status" th:field="*{status}">
						<option value="">Selecione o status</option>
						<option th:each="status : ${T(br.edu.ifms.sagp.model.enums.StatusEnum).values()}" 
							th:value="${status}" th:text="${status.displayValue}">
						</option>
					</select>
					<div class="invalid-feedback" th:errors="*{status}">Errors do Status</div>
				</div>
				<div class="form-group">
					<label for="origem">Origem</label>
					<select class="form-control" id="origem" th:field="*{origem}">
						<option value="">Selecione a origem</option>
						<option th:each="origem : ${T(br.edu.ifms.sagp.model.enums.OrigemEnum).values()}" 
							th:value="${origem}" th:text="${origem.displayValue}">
						</option>
					</select>
					<div class="invalid-feedback" th:errors="*{origem}">Errors da Origem</div>
				</div>
				<div class="form-group">
					<label for="classificacao">Classificação</label>
					<select class="form-control" id="classificacao" th:field="*{classificacao}">
						<option value="">Selecione a classificacao</option>
						<option th:each="classificacao : ${T(br.edu.ifms.sagp.model.enums.ClassificacaoEnum).values()}" 
							th:value="${classificacao}" th:text="${classificacao.displayValue}">
						</option>
					</select>
					<div class="invalid-feedback" th:errors="*{classificacao}">Errors da Classificacao</div>
				</div>
					<div class="form-group">
						<label for="dataNascimento">Data Nascimento</label>
						<input type="date" th:field="*{dataNascimento}" th:errorclass="is-invalid" class="form-control"
							placeholder="Data de Nascimento do Animal." />
						<div class="invalid-feedback" th:errors="*{dataNascimento}">Errors da Data Nascimento</div>
					</div>
					<div class="form-group">
						<label for="peso">Peso</label>
						<input th:field="*{peso}" th:errorclass="is-invalid" class="form-control"
							type="number" placeholder="Peso do Animal" />
						<div class="invalid-feedback" th:errors="*{peso}">Errors do Peso do Animal</div>
					</div>
					<button class="btn btn-primary mt-3" type="submit">Cadastrar</button>
			</form>
		</div>
	</div>
</body>

</html>